<div class="alertDivWrap">
  <div class="alertDiv">Alerts</div>

  <div class="alertDiv" *ngFor="let item of items; let i = index">
    <div class="type-div" style="font-weight: bold; float:left; margin: 1px 0 5px 0;">{{ item.type }}</div>
    <div class="dot-div" style="float:right"><span class="red-dot"></span></div>
    <div class="id-div" style="color: red; float:left; clear: left; width: 30px;">{{ item.id }}</div>
    <div class="detail-div" style="color: #888; float:left">{{ item.detail }}</div>
  </div>


</div>
