<app-nav-bar (toggleOpenCloseEmit)="toggleOpenClose($event)" (togglePositionEmit)="togglePosition($event)"></app-nav-bar>

<mat-drawer-container>

  <mat-drawer #sideDrawer mode="side" opened="false" [position]="position" class="sideDrawer">
    <app-side-alert-drawer></app-side-alert-drawer>
  </mat-drawer>

  <mat-drawer-content>
    <div style="width: 100%; min-height: 90vh;">
      <p>MAIN CONTENT</p>
      <table border="1" style="width: 100%;">
        <tr> <td>row1</td> </tr>
        <tr> <td>row2</td> </tr>
        <tr> <td>row3</td> </tr>
        <tr> <td>row4</td> </tr>
      </table>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
