/* You can add global styles to this file, and also import other style files */
.mat-drawer-inner-container {
  overflow: hidden !important;
}

.sideDrawer {
  overflow: hidden;
  border: 1px solid silver;
}
