/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

body{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mat-drawer-inner-container {
  /* overflow: hidden !important; */
}

.sideDrawer {
  /* overflow: hidden; */
  border-bottom: 1px solid silver;

}

.alertDiv {
  width: 258px;
  padding: 3px;
  border: solid 1px#c0c0c08c;
  margin: 0px 0px 2px 2px;
  float: left;
  clear: both;
  height: 48px;
  font-size: 11px;
  background-color: #f3f3f3;
  border-radius: 4px;
}
.alertDiv:first-child {
  height: 24px;
  border: solid 1px #ddd;
  line-height: 22px;
  font-weight: bold;
  background-color: #ddd;
  text-align: center;
  margin-bottom: 2px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 2px;
}
.alertDivWrap {
  width: 270px;
  height: 90vh;
  padding: 2px 0 0 0;
  /* background-color: rgba(0, 0, 0, 0.46); */
}


.clean-table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  width: 99%;
}
.clean-table thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
.clean-table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}


.red-dot{
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  float: right;
  }

.green-dot{
  height: 10px;
  width: 10px;
  background-color: #2cb927;
  border-radius: 50%;
  float: right;
  }

  .numberCircle {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    border: 2px solid #666;
}

.id-div{
  float: left;
  clear: left;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-right: 5px;
  margin-top: 2px;
}

.detail-div{
  color: #888; float: left; width: 228px; height: 32px;
}

.dot-div{
  float: right;
}

.type-div{
  font-weight: bold;
  float: left;
  margin: 1px 0 5px 0;
  margin: 1px 0 3px 0;
}